.container{
  text-align: center;
  max-width: 100%;
}
.box{
  height : 100px;
  width :100px;
  border: 2px solid black;
  display: inline-block;
  line-height: 90px;
  font-size: xx-large;
  font-weight: bold;
}
.board{
  display: inline-flex;
  width: 22em;
  flex-wrap: wrap;
  padding: 20px;
}
input{
	margin: 20px;
}
form{
	font-size: xx-large;
	/*display: flex;*/
}
.choose{
	font-size: xx-large;
	
}
.bt{
	font-size: x-large;
}
.win{
	color: green;
	font-weight: bold;
}
.draw{
	color: blue;
	font-weight: bold;
}
@media only screen and (max-width: 360px) {
	form{
		font-size: x-large;
	}
	input{
		margin: 2px;
	}
	.bt{
		font-size: small;
		margin-left: 50px;
	}

}